th {
  background-color: rgb(238, 233, 233) !important;
}

.offsetPos {
  margin-top: 0.5%;
  margin-right: 10%;
}

/* .offsetPos {
  transform: translate(-30%, 30%) !important;
} */

.nav-link {
  color: white !important;
}
