th {
  background-color: rgb(238, 233, 233) !important;
  text-align: center !important;
  vertical-align: top !important;
}

td {
  text-align: center !important;
  vertical-align: top !important;
}

.formErrors {
  color: red;
}

.offsetPos {
  margin-top: 0.5%;
  margin-right: 10%;
}

/* .offsetPos {
  transform: translate(-30%, 30%) !important;
} */

.nav-link {
  color: white !important;
}

/*Use Custom Dialogclassname to access its properties*/
.modal-90w {
  max-width: 80% !important;
}

.card {
  /* --bs-card-height: 200px !important; */
  height: 200px !important;
  margin: 10px !important;
}
